@font-face {
	font-family: "Segoe UI Light";
	src: url(segoe-ui-light.ttf);
}

@font-face {
	font-family: "Segoe UI";
	src: url(segoe-ui.ttf);
}

body{
	background-color: black;
	color: #bbbbbb;
	font-family: "Segoe UI Light", sans-serif;
	font-weight: lighter;
}

a {
	color: #30cbff;
	text-decoration: none;
}

a:hover {
	color: white;
}

a:active {
	color: #2499bf;
}

.lvl1 {
	list-style-type: disc;
}

.lvl2 {
	list-style-type: circle;
}

.lvl3 {
	list-style-type: square;
}

.b {
	font-family: "Segoe UI", sans-serif;
}